:root {
    --primary-color : #2bce56;
    --white-color : #fff;
    --dark-color : #464749;
    --width-lg : 80%;
    --width-md : 90%;
    --width-sm : 95%;

    --width-lg-s : 70%;
    --width-md-s : 80%;
    --width-sm-s : 90%;
}